In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn.datasets import make_multilabel_classification
from sklearn.svm import SVC
from sklearn.multioutput import MultiOutputClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score,precision_score,recall_score
import pickle

In [2]:
data=pd.read_csv('data_phone_clothes.csv')
data.head()

,Unnamed: 0,title,brand,category_name,group_name
0,0,"""beetel m13 corded landline phone(black)""","""Beetel""","""Other Phones""","""Electronics"""
1,1,"""ge 30011 corded landline phone(black)""","""GE""","""Other Phones""","""Electronics"""
2,2,"""spctelecom 3016u landline phone(purple)""","""SPCtelecom""","""Other Phones""","""Electronics"""
3,3,"""swiss voice vintage 20 corded landline phone(...","""Swiss Voice""","""Other Phones""","""Electronics"""
4,4,"""binatone concept 810 corded landline phone(bl...","""Binatone""","""Other Phones""","""Electronics"""

In [4]:
print(data.isnull().sum())

Unnamed: 0       0
title            0
brand            0
category_name    0
group_name       0
dtype: int64

In [6]:
data['title'] = [entry.lower() for entry in data['title']]

In [7]:
data['title']

0                "beetel m13 corded landline phone(black)"
1                  "ge 30011 corded landline phone(black)"
2                "spctelecom 3016u landline phone(purple)"
3        "swiss voice vintage 20 corded landline phone(...
4        "binatone concept 810 corded landline phone(bl...
                               ...
18416                                           "tshirts "
18417                                           "tshirts "
18418                                           "tshirts "
18419                                           "tshirts "
18420                                           "tshirts "
Name: title, Length: 18421, dtype: object

In [8]:
X=data['title']
X

0                "beetel m13 corded landline phone(black)"
1                  "ge 30011 corded landline phone(black)"
2                "spctelecom 3016u landline phone(purple)"
3        "swiss voice vintage 20 corded landline phone(...
4        "binatone concept 810 corded landline phone(bl...
                               ...
18416                                           "tshirts "
18417                                           "tshirts "
18418                                           "tshirts "
18419                                           "tshirts "
18420                                           "tshirts "
Name: title, Length: 18421, dtype: object

In [9]:
y=data.iloc[:,2:5]
y

               brand   category_name     group_name
0           "Beetel"  "Other Phones"  "Electronics"
1               "GE"  "Other Phones"  "Electronics"
2       "SPCtelecom"  "Other Phones"  "Electronics"
3      "Swiss Voice"  "Other Phones"  "Electronics"
4         "Binatone"  "Other Phones"  "Electronics"
...              ...             ...            ...
18416         "puma"       "clothes"     "clothing"
18417         "puma"       "clothes"     "clothing"
18418         "puma"       "clothes"     "clothing"
18419         "puma"       "clothes"     "clothing"
18420         "puma"       "clothes"     "clothing"

[18421 rows x 3 columns]

In [10]:
xtrain, xtest, ytrain, ytest=train_test_split(X, y, test_size=0.3, random_state=0)

In [11]:
xtrain

11525    "sony xperia xa1 ultra dual (white/rainbow whi...
11098                       "lenovo k6 note (gold, 32 gb)"
14068    "samsung samsung galaxy a5 sm-a520fzkdins,32gb...
4252                  "gionee v4s (black, 8 gb)(1 gb ram)"
16104    "samsung galaxy s8 (midnight black, 64 gb) (4 ...
                               ...
9225             "whitecherry mi4 (black, 8 gb)(1 gb ram)"
13123           "microsoft lumia 640 xl (dual sim, white)"
9845                                "i kall k-130(yellow)"
10799                        "ssky k7i(white & rose gold)"
2732     "samsung galaxy grand neo plus (gold, 8 gb)(1 ...
Name: title, Length: 12894, dtype: object

In [12]:
ytrain

               brand   category_name     group_name
11525         "Sony"  "Smart Phones"  "Electronics"
11098       "Lenovo"  "Smart Phones"  "Electronics"
14068      "Samsung"  "Smart Phones"  "Electronics"
4252        "Gionee"  "Smart Phones"  "Electronics"
16104      "Samsung"  "Smart Phones"  "Electronics"
...              ...             ...            ...
9225   "Whitecherry"  "Smart Phones"  "Electronics"
13123    "Microsoft"  "Smart Phones"  "Electronics"
9845        "I Kall"  "Smart Phones"  "Electronics"
10799         "Ssky"  "Smart Phones"  "Electronics"
2732       "Samsung"  "Smart Phones"  "Electronics"

[12894 rows x 3 columns]

In [13]:
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(data['title'])
xtrain_vec = Tfidf_vect.transform(xtrain)
xtest_vec = Tfidf_vect.transform(xtest)

In [15]:
pickle.dump(Tfidf_vect,open('transform.pkl','wb'))

In [16]:
print(xtrain_vec)

  (0, 4809)	0.313679365811207
  (0, 4784)	0.4177918518751996
  (0, 4477)	0.3260865639680401
  (0, 4241)	0.3348891041162106
  (0, 3651)	0.312233884684311
  (0, 3376)	0.5216949080134018
  (0, 2107)	0.13359520774266959
  (0, 1741)	0.21376333507228856
  (0, 517)	0.274543340785253
  (1, 3017)	0.4361750486468405
  (1, 2630)	0.44207668540293216
  (1, 2509)	0.6086579897973512
  (1, 2156)	0.2675574046537905
  (1, 2107)	0.20461302905335058
  (1, 309)	0.36111151487244403
  (2, 3622)	0.3719477861491532
  (2, 3610)	0.4783644880922443
  (2, 3524)	0.2636036847509028
  (2, 2102)	0.1395401769753498
  (2, 1141)	0.13045524565278363
  (2, 772)	0.6719406002964754
  (2, 752)	0.22853711896032508
  (2, 313)	0.15202611985649742
  (3, 4340)	0.7734880148517708
  (3, 3379)	0.19511284764737435
  :	:
  (12889, 2107)	0.36905301004482555
  (12889, 1141)	0.15964596267781409
  (12890, 4801)	0.449859007076925
  (12890, 4477)	0.18409104162778964
  (12890, 3598)	0.24105748570145832
  (12890, 2861)	0.4475702278478643
  (12890, 2682)	0.40213225941155856
  (12890, 1741)	0.2413587026489366
  (12890, 518)	0.5341770909275666
  (12891, 4863)	0.48782087089329684
  (12891, 2526)	0.4679905289148656
  (12891, 88)	0.7368959646835432
  (12892, 4477)	0.2099422464538739
  (12892, 3681)	0.5543977029945377
  (12892, 3439)	0.4002305323456856
  (12892, 2517)	0.6616523533349743
  (12892, 2156)	0.22494249125689983
  (12893, 3524)	0.3091211068464637
  (12893, 3379)	0.18078297560993165
  (12893, 3197)	0.3187817129547289
  (12893, 2991)	0.47907964567240824
  (12893, 2172)	0.5049640451860858
  (12893, 2156)	0.23121884960730402
  (12893, 2107)	0.35364664456660816
  (12893, 2102)	0.3272701896935364

In [17]:
svc = SVC(gamma="scale")
model = MultiOutputClassifier(estimator=svc)
print(model)

MultiOutputClassifier(estimator=SVC())

In [18]:
model.fit(xtrain_vec, ytrain)

MultiOutputClassifier(estimator=SVC())

In [19]:
yhat = model.predict(xtest_vec)

In [20]:
yhat

array([['"Infix"', '"Smart Phones"', '"Electronics"'],
       ['"Reach"', '"Smart Phones"', '"Electronics"'],
       ['"Forme"', '"Smart Phones"', '"Electronics"'],
       ...,
       ['"Micromax"', '"Smart Phones"', '"Electronics"'],
       ['"Micromax"', '"Smart Phones"', '"Electronics"'],
       ['"Mtech"', '"Smart Phones"', '"Electronics"']], dtype=object)

In [21]:
print(model.score(xtrain_vec, ytrain))

0.9605242748565224

In [22]:
ytest

               brand   category_name     group_name
3256         "Infix"  "Smart Phones"  "Electronics"
2984         "Reach"  "Smart Phones"  "Electronics"
3169         "Forme"  "Smart Phones"  "Electronics"
9281        "Ismart"  "Smart Phones"  "Electronics"
1050   "A Connect Z"  "Other Phones"  "Electronics"
...              ...             ...            ...
3311          "RAGE"  "Smart Phones"  "Electronics"
3157           "HTC"  "Smart Phones"  "Electronics"
13871     "Micromax"  "Smart Phones"  "Electronics"
5943      "Micromax"  "Smart Phones"  "Electronics"
10247        "Mtech"  "Smart Phones"  "Electronics"

[5527 rows x 3 columns]

In [23]:
ytest.iloc[:,0]

3256           "Infix"
2984           "Reach"
3169           "Forme"
9281          "Ismart"
1050     "A Connect Z"
             ...
3311            "RAGE"
3157             "HTC"
13871       "Micromax"
5943        "Micromax"
10247          "Mtech"
Name: brand, Length: 5527, dtype: object

In [24]:
ytest.iloc[:,0].values

array(['"Infix"', '"Reach"', '"Forme"', ..., '"Micromax"', '"Micromax"',
       '"Mtech"'], dtype=object)

In [25]:
ytest.iloc[:,:-1].values

array([['"Infix"', '"Smart Phones"'],
       ['"Reach"', '"Smart Phones"'],
       ['"Forme"', '"Smart Phones"'],
       ...,
       ['"Micromax"', '"Smart Phones"'],
       ['"Micromax"', '"Smart Phones"'],
       ['"Mtech"', '"Smart Phones"']], dtype=object)

In [26]:
ytest_numpyarray=ytest.to_numpy()

In [27]:
ytest_numpyarray

array([['"Infix"', '"Smart Phones"', '"Electronics"'],
       ['"Reach"', '"Smart Phones"', '"Electronics"'],
       ['"Forme"', '"Smart Phones"', '"Electronics"'],
       ...,
       ['"Micromax"', '"Smart Phones"', '"Electronics"'],
       ['"Micromax"', '"Smart Phones"', '"Electronics"'],
       ['"Mtech"', '"Smart Phones"', '"Electronics"']], dtype=object)

In [28]:
print("SVM Accuracy Score -> ",accuracy_score(ytest_numpyarray[:,0],yhat[:,0])*100)     
print("SVM precision Score -> ",precision_score(ytest_numpyarray[:,0],yhat[:,0],average='weighted')*100)  
print("SVM recall Score -> ",recall_score(ytest_numpyarray[:,0],yhat[:,0],average='weighted')*100)

SVM Accuracy Score ->  90.88112900307581
SVM precision Score ->  88.23151106701542
SVM recall Score ->  90.88112900307581
C:\Python39\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [29]:
print("SVM Accuracy Score -> ",accuracy_score(ytest_numpyarray[:,1],yhat[:,1])*100)     
print("SVM precision Score -> ",precision_score(ytest_numpyarray[:,1],yhat[:,1],average='weighted')*100)  
print("SVM recall Score -> ",recall_score(ytest_numpyarray[:,1],yhat[:,1],average='weighted')*100)

SVM Accuracy Score ->  99.3305590736385
SVM precision Score ->  99.32782588593926
SVM recall Score ->  99.3305590736385

In [30]:
print("SVM Accuracy Score -> ",accuracy_score(ytest_numpyarray[:,2],yhat[:,2])*100)     
print("SVM precision Score -> ",precision_score(ytest_numpyarray[:,2],yhat[:,2],average='weighted')*100)  
print("SVM recall Score -> ",recall_score(ytest_numpyarray[:,2],yhat[:,2],average='weighted')*100)

SVM Accuracy Score ->  99.98190700199024
SVM precision Score ->  99.98191028030115
SVM recall Score ->  99.98190700199024

In [31]:
file=open('product_classification.pkl','wb')
pickle.dump(model,file)

In [32]:
inp1=Tfidf_vect.transform(['Samsung galaxy  onnxt series 64gb'])
print(model.predict(inp1))

[['"Samsung"' '"Smart Phones"' '"Electronics"']]